.object-fit-img {
  		object-fit: cover;
		width:100%;
		height:100%;
  		font-family: 'object-fit: cover;'
}

/*.firstmove{
	opacity: 0;
}*/

html{
	font-size:62.5%;
}

img{
	width:100%;
	height:auto;
}

a{
	text-decoration: none;
	color:#333;
}

#loading{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#47B9C2;
	z-index:100;
	transition: all 0.5s;
	opacity: 1;
	visibility: visible;
}

#loading.active{
	opacity: 0;
	visibility: hidden;
}

sup{
	font-size:0.5em;
	position: relative;
	top:-0.5em;
	display: inline-block;
	vertical-align: top;
}

sup.box2{
	font-size:0.7em;
	position: relative;
	top:-0.3em;
	display: inline-block;
	vertical-align: top;
}


/*fadeanimation*/
	.fadetop{
		position: relative;
		opacity: 0;
		top:50px;
		transition: all 1s;
	}
	
	.fadetop.active{
		opacity: 1;
		top:0;
	}

	.mainbox .innerbox .s_phbox{
		position: relative;
		z-index:2;
		letter-spacing:0;
		margin:0 0 0 35px;
		transition: all 0.3s;
		opacity: 0;
		transition-delay: 0.7s;
		padding-top: 40px;
	}
		
	.mainbox .innerbox .s_phbox.active{
		opacity: 1;
	}
		
	.mainbox .innerbox .s_phbox.box2{
		position: absolute;
		z-index:4;
		letter-spacing:0;
		bottom:0;
		margin:0 0 0 35px;
	}
		
	.mainbox .innerbox .s_phbox.box2 img{
		transition: all 0.3s;
		transition-delay: 1s;
		display: block;
		top:0;
		left:0;
		position: relative;
	}
		
	.mainbox .innerbox .s_phbox.active.box2 img{
		top:-20px;
		left:-22%;
	}
		
	.mainbox .innerbox .s_phbox .s_ph01{
		width:26%;
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		margin:0 5% 0 0;
	}
		
	.mainbox .innerbox .s_phbox .s_ph02{
		width:23%;
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		margin:0 7% 0 0;
	}
	.mainbox .innerbox .s_phbox .s_ph03{
		width:26%;
		position: relative;
		display: inline-block;
		vertical-align: bottom;
	}
	.mainbox .innerbox .s_phbox .s_ph03 .snew {
		position: absolute;
		width: 60%;
		bottom: 28px;
		right: -15px;
	}
	.mainbox .innerbox .s_phbox .s_ph04{
		width:35%;
		position: relative;
		display: inline-block;
		vertical-align: bottom;
	}
	.mainbox .innerbox .s_phbox .s_ph04 .snew {
		position: absolute;
		width: 72%;
		bottom: 28px;
		right: -47px;
	}
	/* .mainbox .innerbox .s_phbox.box2 .s_ph04 {
		width: 45%;
	} */
		
	.mainbox .innerbox .enbox{
		position: absolute;
		top: -67%;
		right:-50%;
		z-index:3;
		opacity: 0;
		width:170%;
		transition: all 0.5s cubic-bezier(.17,.67,.7,2);
		transition-delay: 1s;
		transform: scale(1.1);
	}
		
	.mainbox .innerbox .enbox.active{
		opacity: 1;
		transform: scale(1);
	}
		
	.mainbox .innerbox .enbox .en{
		width:100%;
		position: relative;
	}
		
	.mainbox .innerbox .enbox .e_huki{
		width:32%;
		position: absolute;
		top:-30px;
		right:20px;
	}
		
	.mainbox .innerbox .enbox .entx{
		width:66%;
		position: absolute;
		top:43%;
		left:43%;
		margin:-25% 0 0 -25.5%;
	}
		
	.mainbox .innerbox .enboxcap{
		position: absolute;
		bottom: -5%;
		left: 10px;
		z-index:3;
		opacity: 0;
		width:37%;
		transition: all 0.5s;
		transition-delay: 1s;
	}
		
	.mainbox .innerbox .active .enboxcap{
		opacity:1;
	}
	
	.mainbox .innerbox .sec01_btns {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		transform: scale(0.5);
		transition: all 0.3s cubic-bezier(.17,.67,.7,2);
		transition-delay: 1.2s;
		transform-origin: bottom center;
		opacity: 0;
	}
	.mainbox .innerbox .sec01_btns.active {
		opacity: 1;
		transform: scale(1);
	}
	.mainbox .innerbox .sec01_btns .sec_btn {
		width: 400px;
		margin: 40px;
		transition: all 0.3s ease;
	}
	.mainbox .innerbox .sec01_btns .sec_btn:hover {
		transform: scale(1.1);
	}

	.movie_maintl{
		width:auto;
		text-align: center;
		overflow: hidden;
		margin:0 0 60px 0;
	}
		
	.movie_maintl img{
		width:90%;
		max-width: 530px;
		transition: all 0.3s;
		top:60px;
		display: inline-block;
		position: relative;
		
	}
		
	.movie_maintl.active img{
		top:0;
	}




@media screen and (min-width:769px){
	
.pc_none{
	display: none !important;
}

body{
	background:url("../images/bg.png") repeat;
	background-size:13px;
	position:relative;
	-webkit-text-size-adjust : 100% !important ;
	font-size:1.4rem;  /*15px*/;
	color:#333;
	letter-spacing: 0.1em;
	line-height: 1.7em;
	min-width: 900px;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-weight: 300;
}
	
.menu{
	display: inline-block;
	width:30px;
	position: fixed;
	padding:10px 10px 5px 10px;
	margin:20px 10px 0 0;
	top:0;
	right:0;
	z-index:999;
	}

	.menu-trigger,
	.menu-trigger span {
  		display: inline-block;
  		transition: all .3s;
  		box-sizing: border-box;
		cursor: pointer;
	}
	.menu-trigger {
  		position: relative;
  		width: 30px;
  		height: 16px;
		z-index:5;
	}
	.menu-trigger span {
  		position: absolute;
  		left: 0;
  		width: 100%;
  		height: 2px;
  		background-color: #fff;
  		border-radius: 0px;
	}
	
	.sc .menu-trigger span {
  		position: absolute;
  		left: 0;
  		width: 100%;
  		height: 2px;
  		background-color: #47B9C2;
  		border-radius: 0px;
	}
	
	.menu-trigger span:nth-of-type(1) {
  		top: 0;
	}
	.menu-trigger span:nth-of-type(2) {
 		top:7px;
	}
	.menu-trigger span:nth-of-type(3) {
  		bottom: 0;
	}

	.menu-trigger.active span:nth-of-type(1) {
  		-webkit-transform: translateY(7px) rotate(45deg);
  		transform: translateY(7px) rotate(45deg);
		background-color: #fff;
	}
	.menu-trigger.active span:nth-of-type(2) {
  		opacity: 0;
		background-color: #fff;
	}
	.menu-trigger.active span:nth-of-type(3) {
  		-webkit-transform: translateY(-7px) rotate(-45deg);
 		 transform: translateY(-7px) rotate(-45deg);
		background-color: #fff;
	}
	
	.gnavibox{
		position: fixed;
		width:100%;
		height:100%;
		top:-110%;
		left:0;
		background:#47B9C2;
		transition: top 0.3s;
		z-index:995;
		text-align: center;
		display: flex;
		align-items: center;
	}
	
	.gnavibox.active{
		top:0;
	}
	
	.gnavibox ul{
		display: block;
		position: relative;
  		top: -110%;
  		/* -webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%); */
		list-style: none;
		max-width: 90%;
    	margin: 0 auto;
		transition: top 0.3s;
	}

	.gnavibox.active ul{
		top: 0;
	}
	
	.gnavibox ul li{
		padding:30px 0;
	}
	
	.gnavibox ul li a{
		display: block;
		height:30px;
		width:auto;
		transition: opacity 0.3s;
	}
	.gnavibox ul li a.new {
		height: 60px;
	}
	
	.gnavibox ul li a img{
		width:auto;
		height: 100%;
	}
	
	.gnavibox ul li a:hover{
		opacity: 0.8;
	}
	
.mainbox{
	width:100%;
	background:#47B9C2;
	position: relative;
	overflow: hidden;
}
	
.scrollbg{
	position: absolute;
	top:100%;
	left:50%;
	width:340px;
	height:48px;
	margin:0 0 0 -170px;
	line-height: 0;
	text-align: center;
	background:url("../images/scrollbg.svg") no-repeat;
	background-size:340px;
	z-index:3;
}
.moviebox .scrollbg{
	top: 0;
}
	
.mainbox .sctx{
	width:47px;
	display: block;
	margin:0 auto;
}
	
.mainbox .arrowWrap {
 	margin:-50px 0 0 0;
}
	
.mainbox .arrow {
  width: 15px;
  margin: 25px auto 0;
  -webkit-animation: arrow 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite alternate;
  animation: arrow 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite alternate;
}

.mainbox .arrow span {
  position: relative;
  display: block;
  left: 50%;
}

.mainbox .arrow span:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
}
	
.mainbox .logo{
	position: absolute;
	top:30px;
	left:35px;
	width:80px;
	line-height: 0;
	z-index:2;
}
	
.mainbox .innerbox{
	width:100%;
	margin:0 auto;
	padding:0 0 50px 0;
	position: relative;
	height:auto;
	line-height: 0;
	z-index:1;
	max-width: 1280px;
}
	
.mainbox .light{
	width:90%;
	bottom:0;
	left:0;
	height:100%;
	position: absolute;
	overflow: hidden;
	overflow: visible;
}
	
.mainbox .light img{
	margin: -20% 0 0 -10%;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
	
.mainbox .innerbox .facebox{
	max-width:497px;
	width:calc(45% - 5%);
	float: left;
	margin:30px 0 0 5%;
	position: relative;
	box-sizing: border-box;
}
	
.mainbox .innerbox .titlebox{
	max-width:574px;
	width:calc(55% - 10%);
	float: right;
	margin:30px 5% 0 5%;
	box-sizing:border-box;
	position: relative;
	margin-bottom: 50px;
}

.mainbox .innerbox .face{
	max-width:497px;
	width:100%;
	transition: all 0.3s cubic-bezier(.17,.67,.7,1.59);
	transform: scale(0.7);
	transition-delay: 0.5s;
	opacity:0;
}
	
.mainbox .innerbox .face.active{
	transform: scale(1);
	opacity: 1;
}
	
.mainbox .innerbox .f_huki{
	max-width:212px;
	width:40%;
	top:2%;
	left:6%;
	position: absolute;
	transition: all 0.3s cubic-bezier(.17,.67,.7,3);
	transform: scale(0.7);
	transition-delay: 0.7s;
	opacity:0;
}
	
.mainbox .innerbox .f_huki.active{
	transform: scale(1);
	opacity: 1;
}
	
.mainbox .innerbox .t_huki{
	width:590px;
	transform: scale(0.5);
	transition: all 0.3s cubic-bezier(.17,.67,.7,2);
	transition-delay: 1.2s;
	transform-origin: bottom center;
	opacity: 0;
	padding-top: 70px;
    margin: 0 auto 20px;
}
	
.mainbox .innerbox .t_huki.active{
	opacity: 1;
	transform: scale(1);
	
}
	
.mainbox .innerbox .title{
	max-width:420px;
	width:100%;
	margin:0 0 80px 0;
	position: relative;
	overflow: hidden;
	padding:0 0 15px 0;
}
	
.mainbox .innerbox .title img{
	display: block;
	width:100%;
	height:auto;
	top:120px;
	position: relative;
	transition: all 0.3s;
	transition-delay: 1s;
}
	
.mainbox .innerbox .title.active img{
	top:0;
}

.mainbox .innerbox .title:after{
	content: "";
	border-bottom:5px solid #fff;
	position: absolute;
	bottom:0;
	left:0;
	transition: all 0.3s;
	width:0;
	transition-delay: 0.7s;
}
	
.mainbox .innerbox .title.active:after{
	width:100%;
}
	


/*innerbox2*/
.mainbox .innerbox.innerbox2 {
	z-index: 0;
}
.mainbox .innerbox.innerbox2 .title {
	margin: 80px auto;
}
.mainbox .innerbox.innerbox2 .facebox {
	/* float: right; */
	margin: 30px 5% 5% 0;
	text-align: right;
}
.mainbox .innerbox.innerbox2 .titlebox {
	/* float: left; */
	max-width: 650px;
	width: calc(60% - 10%);
    float: right;
    margin: 60px 5% 0 0;
}
.mainbox .innerbox.innerbox2 .face img {
	width: 60%;
}
.mainbox .innerbox2 .light {
	left: auto;
	right: -20%;
	z-index: -1;
	transform: rotate(18deg);
}
.mainbox .innerbox2 .light img {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	margin: -45% 0 0 0;
}
.mainbox .innerbox.innerbox2 .f_huki {
	left: auto;
    right: 10%;
    top: 0;
}
.mainbox .innerbox.innerbox2 .f_huki img {
	/* transform: rotate(85deg); */
}
.mainbox .innerbox.innerbox2 .s_phbox {
	padding-top: 0;
	padding-left: 47%;
	width: calc(57% - 35px);
}
.mainbox .innerbox.innerbox2 .enbox {
	width: 37%;
	right:auto;
	left: 0;
	top: auto;
	bottom: 14%;
}
.mainbox .innerbox.innerbox2 .enbox .entx {
	width: 70%;
    top: 50%;
    left: 40%;
}
.mainbox .innerbox.innerbox2 .enboxcap {
	width: 55%;
    position: relative;
    margin: 6% auto 0;
}
.mainbox .innerbox.innerbox2 .sec01_btns .sec_btn {
	margin: 0 auto 60px;
}



/*moviebox*/
.moviebox{
	padding:120px 0;
	position: relative;
	width:100%;
	overflow: hidden;
}
	
.moviebox .ill01{
	width:125px;
	position: absolute;
	top:273px;
	left:50%;
	opacity: 0;
	margin:0 0 0 -545px;
	transition: all 1s;
}
	
.moviebox .ill01.active{
	top:323px;
	opacity: 1;
}
	
.moviebox .ill02{
	width:202px;
	position: absolute;
	top:125px;
	left:50%;
	opacity: 0;
	margin:0 0 0 282px;
	transition: all 1s;
	pointer-events: none;
}
	
.moviebox .ill02.active{
	top:175px;
	opacity: 1;
}
	
.moviebox .btnbox{
	width:730px;
	margin:0 auto;
	position: relative;
	transform-origin: center center; 
	opacity: 0;
	transition: all 0.7s ease 0s;
	transform: rotate3d(0, 1, 0, 90deg);
	-webkit-transform: rotate3d(0, 1, 0, 90deg);
}
	
.moviebox .btnbox.active{
	opacity: 1;
	transform: rotate3d(0, 1, 0, 0deg);
	-webkit-transform: rotate3d(0, 1, 0, 0deg);
}
	
.moviebox .btnbox .inbox{
	width:730px;
	padding-top:52%;
	border-radius: 20px;
	border:3px solid #47B9C2;
	background:#FFFF00;
	box-shadow:20px 20px 0px 0px rgba(71,185,194,0.3);
	transition: all 0.3s;
	position: relative;
	top:0;
	left:0;
	display: block;
	cursor: pointer;
}

.moviebox .btnbox .inbox:hover{
	top:10px;
	left:10px;
	box-shadow:10px 10px 0px 0px rgba(71,185,194,0.3);
}
	
.moviebox .btnbox .intx{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
}
	
.moviebox .btnbox .intx .tx{
	width:566px;
	margin:0 auto;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
	
.moviebox .btnbox .intx2{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	opacity: 1;
	transition: all 0.3s;
}
	
.moviebox .btnbox .intx2 .tx{
	width:104px;
	margin:15px auto 0;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
	
.moviebox .btnbox .inbox:hover .intx2{
	opacity: 0;
}
	
/*casebox*/
.casebox{
	padding:120px 0 35px 0;
	position: relative;
	background:url("../images/bg2.png") repeat,#A9DEE2;
	background-size:13px;
}
	
.casebox .innerbox{
	width:860px;
	margin:0 auto;
}
	
.casebox ul{
	width:100%;
	margin:0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	
.casebox ul li{
	width:35%;
	margin:0 4% 50px;
	padding:22px 0 0 0;
	transition: opacity 0.2s;
	opacity: 0;
}

.casebox ul li.case-face {
	width: 26%;
	margin: 0 2%;
	padding: 0;
}
.casebox ul li.case-face .face {
	margin-top: -5%;
	transition: all 0.3s cubic-bezier(.17,.67,.7,1.59);
    transform: scale(0.7);
    transition-delay: 0.4s;
    opacity: 0;
    transform-origin: bottom center;
}
.casebox ul li.case-face.active .face {
	transform: scale(1);
    opacity: 1;
}


.casebox ul li.box03,
.casebox ul li.box04 {
	margin: 0 0 50px;
}

.casebox ul li.active{
	opacity: 1;
}
	
.casebox ul li .inbox{
	width:100%;
	height: calc(100% - 90px);
	background:#47B9C2;
	border-radius: 20px;
	position:relative;
	padding:60px 0 30px 0;
}

	
/* .casebox ul li.box01 .inbox{
	background-image:url("../images/case_ill01.png");
	background-repeat: no-repeat;
	background-size:140px;
	background-position: right 0 bottom 70px;
}
	
.casebox ul li.box02 .inbox{
	background-image:url("../images/case_ill02.svg");
	background-repeat: no-repeat;
	background-size:112px;
	background-position: right 20px bottom 130px;
}
	
.casebox ul li.box03 .inbox{
	background-image:url("../images/case_ill03.svg");
	background-repeat: no-repeat;
	background-size:116px;
	background-position: right 20px bottom 110px;
}
	
.casebox ul li.box04 .inbox{
	background-image:url("../images/case_ill04.svg");
	background-repeat: no-repeat;
	background-size:93px;
	background-position: right 30px bottom 110px;
} */
	
.casebox ul li .inbox .casenum{
	text-align: center;
	position: absolute;
	top:-22px;
	width:100%;
}
	
.casebox ul li .inbox .casenum span{
	width:148px;
	display: inline-block;
	box-shadow:4px 4px 0px 0px #47B9C2;
	line-height: 0;
	
}

.casebox ul li .inbox .txbox {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	padding: 0 20px;
    text-align: center;
    line-height: 1.6;
	transition: all 0.3s cubic-bezier(.17,.67,.7,1.59);
    transform: scale(0.7);
    transition-delay: 0.4s;
    opacity: 0;
    transform-origin: bottom center;
}
.casebox ul li.active .inbox .txbox {
	transform: scale(1);
    opacity: 1;
}
	
.casebox ul li .inbox .tlbox{
	text-align: center;
	position: relative;
	margin:0 0 7% 0;
}
	
.casebox ul li .inbox .tlbox span{
	width:auto;
	height:30px;
	display: inline-block;
	position: relative;
	padding:0 0 8px 0;
	overflow: hidden;
	line-height: 1;
}
	
.casebox ul li .inbox .tlbox span img{
	width:auto;
	height:100%;
	top:50px;
	position: relative;
	transition: all 0.3s;
	transition-delay: 0.3s;
}
	
.casebox ul li.active .inbox .tlbox span img{
	top:0;
}

.casebox ul li .inbox .tlbox span:after{
	content: "";
	border-bottom:4px solid #fff;
	position: absolute;
	bottom:0;
	left:0;
	transition: all 0.3s;
	width:0;
	transition-delay: 0s;
}
	
.casebox ul li.active .inbox .tlbox span:after{
	width:100%;
}
	
.casebox ul li .inbox .face{
	text-align: center;
	position: relative;
}
	
.casebox ul li .inbox .face .huki{
	width:252px;
	position: absolute;
	bottom:calc(100% - 20px);
	left:20px;
	transition: all 0.3s cubic-bezier(.17,.67,.7,1.59);
	transform: scale(0.7);
	transition-delay: 0.4s;
	opacity:0;
	transform-origin: bottom center;
}
	
.casebox ul li.active .inbox .face .huki{
	transform: scale(1);
	opacity:1;
}
	
.casebox ul li.active .inbox .face span{
	width:156px;
	display: inline-block;
	margin:0 50px 0 0;
}
	

/*tokubox*/
.tokubox{
	padding:120px 0 0 0;
}
	
.tokubox .innerbox{
	width:865px;
	margin:0 auto;
	padding:45px 0 0 0;
}
	
.tokubox .innerbox .tokucont{
	border-radius: 20px;
	border:3px solid #47B9C2;
	background:#fff;
	padding:95px 0 50px 0;
	position: relative;
	transition: opacity 0.2s;
	opacity: 0;
	margin:0 0 120px 0;
}

.tokubox .innerbox .tokucont.active{
	opacity: 1;
}

.tokubox .innerbox .tokucont .tokunum{
	text-align: center;
	position: absolute;
	top:-22px;
	width:100%;
}
	
.tokubox .innerbox .tokucont .tokunum span{
	width:148px;
	display: inline-block;
	box-shadow:4px 4px 0px 0px #47B9C2;
	line-height: 0;
	
}
	
.tokubox .innerbox .tokucont .tlbox{
	text-align: center;
	position: relative;
	margin:0 0 60px 0;
}
	
.tokubox .innerbox .tokucont .tlbox span{
	width:auto;
	height:54px;
	display: inline-block;
	position: relative;
	padding:0 0 20px 0;
	overflow: hidden;
	line-height: 1;
}
	
.tokubox .innerbox .tokucont .tlbox span img{
	width:auto;
	height:100%;
	top:80px;
	position: relative;
	transition: all 0.3s;
	transition-delay: 0.3s;
}
	
.tokubox .innerbox .tokucont.active .tlbox span img{
	top:0;
}
	
.tokubox .innerbox .tokucont .tlbox span:after{
	content: "";
	border-bottom:5px solid #47B9C2;
	position: absolute;
	bottom:0;
	left:0;
	transition: all 0.3s;
	width:0;
	transition-delay: 0s;
}
	
.tokubox .innerbox .tokucont.active .tlbox span:after{
	width:100%;
}
	
.tokubox .innerbox .tokucont .subtl{
	text-align: center;
	position: relative;
	margin:0 0 50px 0;
	transition: all 0.5s;
	top:30px;
	opacity: 0;
	transform: rotate(0.0001deg);
	font-size: 28px;
	font-weight: 500;
	line-height: 1.6;
	color: #333;
	letter-spacing: -2px;
}
	
.tokubox .innerbox .tokucont .subtl.active{
	top:0;
	opacity: 1;
}
	
.tokubox .innerbox .tokucont .subtl small {
	font-size: 14px;
	display: block;
    margin-top: 20px;
}
	
	
.tokubox .innerbox .tokucont .subtl.box2 span{
	width:468px;
	height:auto;
	display: inline-block;
	position: relative;
	line-height: 1;
}
	
.tokubox .innerbox .tokucont .subtl.box3 span{
	width:551px;
	height:auto;
	display: inline-block;
	position: relative;
	line-height: 1;
}
	
.tokubox .innerbox .tokucont .subtl.box4 span{
	width:315px;
	height:auto;
	display: inline-block;
	position: relative;
	line-height: 1;
}
	
.tokubox .innerbox .tokucont .capbox{
	text-align: center;
	margin:0 auto 60px;
	position: relative;
	top:30px;
	opacity: 0;
	transition: all 0.5s;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.6;
	color: #333;
}
.tokubox .innerbox .tokucont .capbox .capill{
	display:inline-flex;
	align-items: center;
	border: 1px solid #47B6BF;
	max-width: 90%;
}
.tokubox .innerbox .tokucont .capbox .capill span {
	color: #fff;
	background: #47B6BF;
    padding: 3px 20px;
	flex: none;
    place-self: stretch;
	display: flex;
    align-items: center;
}
.tokubox .innerbox .tokucont .capbox .capill > div {
	padding: 3px 20px;
	flex: 1;
	text-align: left;
}
	
.tokubox .innerbox .tokucont .capbox.box2{
	margin:0 auto 0;
}
	
.tokubox .innerbox .tokucont .capbox.active{
	opacity: 1;
	top:0;
}
	
.tokubox .innerbox .tokucont .capbox p{
	text-indent: -1.1em;
	padding-left: 1.1em;
	padding:15px 0 0 1.1em;
}
	
.tokubox .innerbox .tokucont .capbox.box2 p{
	padding:0 0 0 1.1em;
}
	
.tokubox .innerbox .tokucont .illbox{
	width:755px;
	margin:0 auto;
	position: relative;
	top:30px;
	opacity: 0;
	transition: all 0.5s;
	padding:0 0 30px 60px;
}
	
.tokubox .innerbox .tokucont .illbox.active{
	opacity: 1;
	top:0;
}
	
.tokubox .innerbox .tokucont .illbox2{
	width:174px;
	margin:0 auto;
	position: absolute;
	bottom:-1px;
	right:50px;
	opacity: 0;
	transition: all 0.5s;
	line-height: 0;
}
	
.tokubox .innerbox .tokucont .illbox2.active{
	opacity: 1;
}
	
	
/*productbox*/
.productbox{
	padding:120px 0 35px 0;
	position: relative;
	background:url("../images/bg2.png") repeat,#A9DEE2;
	background-size:13px;
	position: relative;
	z-index:4;
}
	
.productbox .innerbox{
	width:865px;
	margin:0 auto;
	padding:45px 0 0 0;
}
	
.productbox .innerbox .btnbox{
	margin:0 0 100px 0;
	transform-origin: center center; 
	opacity: 1;
	background:none;
	transition: all 0.7s ease 0s;
	transform: rotate3d(0, 1, 0, 90deg),;
	-webkit-transform: rotate3d(0, 1, 0, 90deg);
	position: relative;
	z-index:2;
}
	
.productbox .innerbox .btnbox.active{
	opacity: 1;
	transform: rotate3d(0, 1, 0, 0deg);
	-webkit-transform: rotate3d(0, 1, 0, 0deg);
}
	
.productbox .innerbox .btnbox .inbox{
	display: block;
	border-radius: 20px;
	border: 3px solid #47B9C2;
	background: #fff;
	padding:45px 50px 40px;
	box-sizing: border-box;
	box-shadow: 20px 20px 0px 0px rgba(71,185,194,0.3);
	transition: all 0.3s;
	position: relative;
	top: 0;
	left: 0;
}

.productbox .innerbox .btnbox .inbox.box2{
	background: #FFFF00;
}
	
/* .productbox .innerbox .btnbox .inbox:hover{
	top:10px;
	left:10px;
	box-shadow:10px 10px 0px 0px rgba(71,185,194,0.3);
} */
	
.productbox .innerbox .btnbox .inbox .leftbox{
	width:380px;
	float: left;
	position: relative;
	padding:0 50px 0 0 ;
	box-sizing: border-box;
	text-align: right;
}
	
.productbox .innerbox .btnbox .inbox .leftbox .phbox span{
	width:157px;
	display: inline-block;
	position: relative;
	z-index:3;
}

.productbox .innerbox .btnbox .inbox .leftbox.box2{
	width:600px;
	float: none;
	position: relative;
	margin:0 auto;
	padding:0 0 0 0 ;
	box-sizing: border-box;
	text-align: left;
}
	
.productbox .innerbox .btnbox .inbox .leftbox.box2 .phbox{
	float: left;
}
	
.productbox .innerbox .btnbox .inbox .leftbox.box2 .phbox span{
	width:254px;
	display: inline-block;
	position: relative;
	z-index:3;
	margin:30px 0 0 0;
}

.productbox2 .innerbox .btnbox .inbox .leftbox .phbox span {
	width: auto;
}
.productbox2 .innerbox .btnbox .inbox .leftbox .phbox span > img {
	width: auto;
	height: 400px;
	margin-top: 17%;
	margin-right: 27px;
}
.productbox2 .innerbox .btnbox2 .inbox .leftbox .phbox span > img {
	margin-top: 25%;
	margin-right: 50px;
}
	
.productbox .innerbox .btnbox .inbox .leftbox .illbox{
	width:230px;
	line-height: 0;
	top:-80px;
	left:-10px;
	position: absolute;
	z-index:2;
}
	
.productbox .innerbox .btnbox .inbox .illbox2{
	width:100%;
	position: absolute;
	top:-40px;
	left:0;
	text-align: center;
}

.productbox .innerbox .btnbox .inbox .illbox2 span{
	width:369px;
	display: inline-block;
}

.productbox .innerbox .btnbox .inbox .leftbox.box2 .phillbox{
	position: relative;
	width:335px;
	float: right;
	padding:50px 0 0 0;
}

.productbox .innerbox .btnbox .inbox .leftbox.box2 .phillbox .phill{
	text-align: center;
}

.productbox .innerbox .btnbox .inbox .leftbox.box2 .phillbox .phill span{
	width:100%;
	display: inline-block;
}
	
.productbox .innerbox .btnbox .inbox .rightbox{
	width:calc(100% - 380px);
	padding:0 15px 0 0;
	box-sizing: border-box;
	float: right;
}

.productbox .innerbox .btnbox .inbox .rightbox.box2{
	width:550px;
	padding:40px 0 0 0;
	margin:0 auto;
	box-sizing: border-box;
	float: none;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .tlbox{
	font-size:30px;
	font-weight: 600;
	letter-spacing: -0.1rem;
	line-height: 4.5rem;
	color:#47B9C2;
	margin-bottom: 20px;
}
	
.productbox .innerbox .btnbox .inbox .rightbox.box2 .tlbox{
	font-size:2.8rem;
	font-weight: 600;
	letter-spacing: -0.1rem;
	line-height: 4.5rem;
	color:#47B9C2;
	width:calc(100% + 30px);
}
	
.productbox .innerbox .btnbox .inbox .rightbox .price small{
	font-size: 16px;
}

.productbox .innerbox .btnbox .inbox .rightbox .price02{
	width:292px;
	margin:0 0 0 0;
	transform: rotate(0.0001deg);
	letter-spacing: -0.1rem;
}

.productbox .innerbox .btnbox .inbox .rightbox .subhuki{
	width:72px;
	padding:20px 0 0 0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .subhuki2{
	width:91px;
	padding:0 0 0 0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .tx{
	font-size: 1.6rem;
	line-height: 2.8rem;
	margin:0 0 20px 0;
	font-weight: 500;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .tx strong{
	font-size:2.8rem;
	font-weight: bold;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .tx span{
	font-size:1.4rem;
}

.productbox .innerbox .btnbox .inbox .rightbox .tx.box2{
	font-size: 1.8rem;
	line-height: 2.9rem;
	margin:0 0 20px 0;
}

.productbox .innerbox .btnbox .inbox .rightbox .capbox .capin{
	display: inline-block;
	height:113px;
	letter-spacing: 0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .capbox .capin img{
	width:auto;
	height:100%;
	padding:0 10px;
}

.productbox .innerbox .btnbox .inbox .p_comment_flex {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}
.productbox .innerbox .btnbox .inbox .p_comment_item {
	font-size: 1.2rem;
    line-height: 2.8rem;
    font-weight: 500;
	text-align: right;
	width: 47%;
}
.productbox .innerbox .btnbox .inbox .p_comment_item img {
	display: block;
}
	
.productbox .innerbox .btnbox .inbox .rakutenbtn{
	width:100%;
	border-radius: 100px;
	text-align: center;
	color:#fff;
	font-size:1.6rem;
	background:#47B9C2;
	padding:15px 0;
	margin:30px 0 0 0;
	transition: all 0.3s;
	border:3px solid #47B9C2;
}
	
.productbox .innerbox .btnbox .inbox:hover .rakutenbtn{
	background:#fff;
	color:#47B9C2;
}
	
.productbox .innerbox .btnbox .inbox .btncap{
	padding:20px 0 0 0;
	font-size:1.2rem;
	font-weight: 500;
	letter-spacing: 0;
}
	
.productbox .innerbox .pcap{
	text-align: center;
}
	
.productbox .innerbox .pcap span{
	display: inline-block;
	width:658px;
	margin:0 0 45px 0;
}
	
	
/*commonsubtl*/
.mainsubtl{
	height:30px;
	width:auto;
	text-align: center;
	overflow: hidden;
	margin:0 0 60px 0;
}
	
.mainsubtl img{
	width:auto;
	height:100%;
	transition: all 0.3s;
	top:60px;
	display: inline-block;
	position: relative;
	
}
	
.mainsubtl.active img{
	top:0;
}
	
/*contact*/
	.contactbox{
		width:865px;
		margin:0 auto;
		padding:120px 0;
	}
	
	.contactbox .subtlcont{
		top:30px;
		position: relative;
		opacity: 0;
		transition: all 0.5s;
	}
	
	.contactbox .subtlcont.active{
		top:0;
		opacity: 1;
	}
	
	.contactbox .subtl{
		text-align: center;
		margin:0 0 40px 0;
	}
	
	.contactbox .subtl span{
		height:26px;
		display: inline-block;
		position: relative;
	}
	
	.contactbox .subtl span:after{
		content: "";
		position: absolute;
		width:100%;
		border-bottom:3px solid #47B9C2;
		bottom:-10px;
		left:0;
	}
	
	.contactbox .subtl span img{
		height:100%;
		width:auto;
	}
	
	.contactbox .teltx{
		font-size:4rem;
		margin:0 0 80px 0;
		text-align: center;
		font-weight: bold;
	}
	
	.contactbox .teltx p{
		display: inline-block;
	}
	
	
/*form*/
	.formbox{
		font-size:1.6rem;
	}
	.formbox .checktx{
		color:#c30d23;
		font-size:0.9em;
		text-align:right;
		margin:40px 0 0 0;
	}
	
	.formbox.kakunin .tx2{
		margin:0 auto 40px;
		width:90%;
		text-align: left;
	}
	
	.formbox table{
		width:100%;
		margin:0 auto;
	}
	
	.formbox table tr{
	}
	
	.formbox table tr td{
		padding:10px 0 10px 0;
		line-height: 1.7em;
		box-sizing: border-box;
		width:100%;
		display: block;
	}
	
	.formbox.kakunin table tr td{
		padding:0 0 30px 0;
		line-height: 1.7em;
		box-sizing: border-box;
		width:100%;

	}
	
	.formbox.kakunin .tx2{
		line-height: 2em;
		text-align: center;

	}
	
	.formbox table tr td.td2{
		padding:15px 0 15px 0;
		vertical-align: top;
	}
	
	.formbox table tr td.blockbox{
		display: block !important;
		padding:10px 0;
		width:100%;
		box-sizing: border-box;
	}
	
	.formbox table tr th{
		width:100%;
		vertical-align: top;
		font-weight:600;
		padding:0 0 15px 0;
		line-height: 1.7em;
		display: inline-block;
		text-align: left;
	}
	
	.formbox table tr td span.check{
		color:#fff;
		margin:-2px 10px 0 0;
		vertical-align:middle;
		background:#EA3C64;
		font-size:1.2rem;
		padding:5px 5px;
		float: none;
		display: inline-block;
		border-radius: 4px;
		line-height: 1;
		letter-spacing: 0.2em;
	}
	
	.formbox table tr td:first-child{
		padding:22.5px 0 0 0;
		width:100%;
		box-sizing: border-box;
		position: relative;
		display: inline-block;

	}
	
	.formErrorContent{
		background:none !important;
		color:#ee0101 !important;
		font-size:1.2rem !important;
		padding:5px 0 !important;
		min-width: 100px !important;
		display: inline-block !important;
	}
	
	input[type="radio"]{
		position:relative;
		margin:-0.25em 5px 0 0;
	}
	
	input[type="text"],input[type="email"]{
		padding:15px;
		width:100%;
		box-sizing: border-box;
		font-size:1em;
		background:#fff;
		border: 3px solid #47B9C2;
		border-radius: 10px;
		box-shadow: none;
		-webkit-appearance: none; 
	}
	
	input.box2{
		width:130px;
		margin:0 15px;
	}
	
	.atx{
		display: inline-block;
		width:150px;
		font-size:1.2rem;
		vertical-align: middle;
		line-height: 1.7rem;
		margin:0 0 0 15px;
	}
	
	.alink{
		color:#957B4A;
		display: inline-block;
		padding:0 0 3px 0;
		border-bottom:1px solid #957B4A;
		transition: opacity 0.3s;
	}
	
	.alink:hover{
		opacity: 0.8;
	}
	
	.abtnbox{
		margin:15px 0 0 0;
	}
	
	.abtnbox .abtn{
		cursor: pointer;
		background-color:rgba(0,0,0,0.7);
		color:#fff;
		padding:5px 15px;
		display: inline-block;
		margin:0 0 10px 0;
		transition: opacity 0.3s;
	}
	
	.abtnbox .abtn:hover{
		opacity: 0.8;
	}
	
	.blockbox label{
		display: inline-block;
	}
	
	.cbtnbox{
		text-align: center;
		margin:60px 0 0 0;
	}
	
	.cbtnbox.box2{
		text-align: center;
		margin:0 0 0 0;
	}
	
	.formcaption{
		line-height: 2.5rem;
		width:100%;
		height:350px;
		background:#fff;
		border: 3px solid #47B9C2;
		border-radius: 10px;
		box-sizing: border-box;
		padding:30px;
		margin:60px 0 0 0;
		font-size:1.4rem;
	}
	
	.formcaption .tl{
		font-weight: bold;
		margin:30px 0 50px 0;
		font-size:2rem;
		text-align: center;
	}
	
	.formcaption .sub{
		font-weight: bold;
		margin:0 0 10px 0;
	}
	
	.formcaption .tx{
		margin:0 0 30px 0;
	}
	
	.formcaption .tx.box2{
		text-indent: -1.5em;
		padding-left: 1.5em;
	}
	
	.simplebar-track.simplebar-vertical{
		background:#E3E3E3;
		width:8px !important;
		border-radius: 50px;
		top:9px !important;
		bottom:9px;
		right:9px;
	}
	.simplebar-scrollbar::before {
    	position: absolute;
    	content: '';
    	background: #47B9C2 !important;
    	border-radius: 7px;
    	left: 0 !important;
    	right: 0 !important;
		top:0 !important;
		bottom:0 !important;
    	opacity:1 !important;
    	transition: opacity 0.2s linear;
	}
	
	button[type="submit"].btn01{
		width:300px;
		border:3px solid #47B9C2;
		color:#fff;
		display: block;
		margin:0 auto;
		text-align: center;
		font-size:1.8rem;
		background:#47B9C2;
		padding:17px 0;
		transition: all 0.3s;
		cursor: pointer;
		line-height: 1;
		border-radius: 100px;
	}
	
	button[type="submit"].btn01:hover{
		color:#47B9C2;
		background:#fff;
	}
	
	a.btn02{
		color:#333;
		border:none;
		font-weight: bold;
		font-size:1em;
		cursor: pointer;
		margin:50px 0 0 0;
		transition:all 0.3s;
		opacity:1;
		display: inline-block;
		letter-spacing:0.1em;
		text-decoration: none;
	}
	
	input[type="submit"]:hover{
		opacity:0.8;
		
	}
	
	::-webkit-input-placeholder {
  	color: #A5A5A5;
	}
	::-moz-placeholder {
  	color: #A5A5A5; opacity: 1;
	}
	:-ms-input-placeholder {
  	color: #A5A5A5;
	}
	
	select{
		width: 100%;
		padding: 15px 0 15px 15px;
		outline: none;
		font-size:1em;
		margin:0 0 0 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0;
		line-height: 1;
		display: inline-block;
		border:none;
		background: url("../images/select_arrow.png") no-repeat ,#fff;
		background-size:10px;
		background-position: left 0 top 50%;
		box-sizing: border-box;
	}
	
	select::-ms-expand {
    	display: none;
	}
	.contactbox input[type="radio"]{
		display: block;
	}
	.contactbox input[type="radio"] + span{
  		position:relative;
		font-weight: normal;
	}
	.contactbox input[type="radio"] + span::before{
  		margin:-2px 10px 0 0;
    	content:" ";
    	display:inline-block;
    	width:35px;
    	height:35px;
    	background:url("../images/radio.svg") left 50% no-repeat;    
    	background-size:contain;
    	vertical-align:middle;
	}
	.contactbox input[type="radio"]:checked + span::before{
  		margin:-2px 10px 0 0;
    	content:" ";
    	display:inline-block;
    	width:35px;
    	height:35px;
    	background:url("../images/radio_on.svg") left 50% no-repeat;    
    	background-size:contain;
    	vertical-align:middle;
	}
	
	.contactbox input[type="checkbox"]{
		visibility: hidden;
	}
	
	.contactbox span.checkbox{
  		position:relative;
		font-weight: normal;
		left:-16px;
	}
	
	/*firefox*/
	@-moz-document url-prefix() {
		.contactbox span.checkbox{
			left:-19px;
		}
	}

	
	.contactbox input[type="checkbox"] + span{
  		position:relative;
		font-weight: normal;
	}
	.contactbox input[type="checkbox"] + span{
  		position:relative;
		font-weight: normal;
	}
	.contactbox input[type="checkbox"] + span::before{
  		margin:-2px 15px 0 0;
    	content:" ";
    	display:inline-block;
    	width:35px;
    	height:35px;
    	background:url("../images/check.svg") left 50% no-repeat;    
    	background-size:contain;
    	vertical-align:middle;
	}
	.contactbox input[type="checkbox"]:checked + span::before{
  		margin:-2px 15px 0 0;
    	content:" ";
    	display:inline-block;
    	width:35px;
    	height:35px;
    	background:url("../images/check_on.svg") left 50% no-repeat;    
    	background-size:contain;
    	vertical-align:middle;
	}
	
	textarea{
		padding:15px;
		font-size: 1em;
		width:100%;
		box-sizing: border-box;
		background:#fff;
		border:3px solid #47B9C2;
		min-height:245px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		line-height:2rem;
		border-radius: 10px;
	}
	
#footer{
	padding:70px;
	background:#47B9C2;
}
	
#footer .logobox{
	margin:0 0 60px 0;
}
	
#footer .logobox span{
	display: inline-block;
	line-height: 0;
	width:106px;
}
	
#footer .fcont{
	letter-spacing:0;
	color:#fff;
	font-size:0;
}
	
#footer .fcont p{
	display: inline-block;
}
	
#footer .leftbox{
	width:50%;
	display: inline-block;
	letter-spacing:0.1em;
	font-size:1.4rem;
}
	
#footer .rightbox{
	width:50%;
	display: inline-block;
	letter-spacing:0.1em;
	text-align: right;
	font-size:1.4rem;
}
	
	.page_top{
		width:80px;
		position: fixed;
		bottom:32px;
		right:32px;
		z-index:10;
		opacity: 0;
		visibility: hidden;
		cursor: pointer;
		line-height: 0;
	}
	
	.page_top img{
		position: relative;
		top:-15px;
	}
	
	.page_top.active{
		opacity: 1;
		visibility: visible;
	}
	
	.page_top.sc{
		position: absolute;
		opacity: 1;
		visibility: visible;
	}
	
	.page_top:hover{
		opacity:0.8;
	}

}

@keyframes arrow {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%, -8px, 0);
    transform: translate3d(-50%, -8px, 0);
  }
}

@media screen and (max-width:768px){
	
.sp_none{
	display: none !important;
}

body{
	background:url("../images/bg.png") repeat;
	background-size:10px;
	position:relative;
	-webkit-text-size-adjust : 100% !important ;
	font-size:1.2rem;  /*15px*/;
	color:#333;
	letter-spacing: 0.1em;
	line-height: 1.7em;
	min-width: 100%;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-weight: 300;
}
	
.menu{
	display: inline-block;
	width:30px;
	position: fixed;
	padding:10px 10px 5px 10px;
	margin:10px 5px 0 0;
	top:0;
	right:0;
	z-index:999;
	}

	.menu-trigger,
	.menu-trigger span {
  		display: inline-block;
  		transition: all .3s;
  		box-sizing: border-box;
		cursor: pointer;
	}
	.menu-trigger {
  		position: relative;
  		width: 30px;
  		height: 16px;
		z-index:5;
	}
	.menu-trigger span {
  		position: absolute;
  		left: 0;
  		width: 100%;
  		height: 2px;
  		background-color: #fff;
  		border-radius: 0px;
	}
	
	.sc .menu-trigger span {
  		position: absolute;
  		left: 0;
  		width: 100%;
  		height: 2px;
  		background-color: #47B9C2;
  		border-radius: 0px;
	}
	
	.menu-trigger span:nth-of-type(1) {
  		top: 0;
	}
	.menu-trigger span:nth-of-type(2) {
 		top:7px;
	}
	.menu-trigger span:nth-of-type(3) {
  		bottom: 0;
	}

	.menu-trigger.active span:nth-of-type(1) {
  		-webkit-transform: translateY(7px) rotate(45deg);
  		transform: translateY(7px) rotate(45deg);
		background-color: #fff;
	}
	.menu-trigger.active span:nth-of-type(2) {
  		opacity: 0;
		background-color: #fff;
	}
	.menu-trigger.active span:nth-of-type(3) {
  		-webkit-transform: translateY(-7px) rotate(-45deg);
 		 transform: translateY(-7px) rotate(-45deg);
		background-color: #fff;
	}
	
	.gnavibox{
		position: fixed;
		width:100%;
		height:100%;
		top:-110%;
		left:0;
		background:#47B9C2;
		transition: top 0.3s;
		z-index:995;
		text-align: center;
		display: flex;
		align-items: center;
	}
	
	.gnavibox.active{
		top:0;
	}
	
	.gnavibox ul{
		display: block;
		position: relative;
		top: -110%;
  		/* -webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%); */
		list-style: none;
		max-width: 90%;
    	margin: 0 auto;
		transition: top 0.3s;
	}

	.gnavibox.active ul{
		top: 0;
	}
	
	.gnavibox ul li{
		padding:5% 0;
	}
	
	.gnavibox ul li a{
		display: block;
		height:20px;
		width:auto;
		transition: opacity 0.3s;
	}
	.gnavibox ul li a.new {
		height: 45px;
	}
	
	.gnavibox ul li a img{
		width:auto;
		max-width: 100%;
		height: 100%;
	}
	
	.gnavibox ul li a:hover{
		opacity: 0.8;
	}
	
.mainbox{
	height:auto;
	width:100%;
	background:#47B9C2;
	position: relative;
	padding:0 0 1px 0;
}
	
.mainbox .scrollbg{
	position: absolute;
	top:calc(100% - 1px);
	left:50%;
	width:170px;
	height:24px;
	margin:0 0 0 -85px;
	line-height: 0;
	text-align: center;
	background:url("../images/scrollbg.svg") no-repeat;
	background-size:170px;
	z-index:3;
}
	
.mainbox .sctx{
	width:47px;
	display: block;
	margin:0 auto;
}
	
.mainbox .arrowWrap {
 	margin:-30px 0 0 0;
}
	
.mainbox .arrow {
  width: 15px;
  margin: 25px auto 0;
  -webkit-animation: arrow 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite alternate;
  animation: arrow 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite alternate;
}

.mainbox .arrow span {
  position: relative;
  display: block;
  left: 50%;
}

.mainbox .arrow span:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
}
	
.mainbox .logo{
	position: absolute;
	top:13px;
	left:13px;
	width:63px;
	line-height: 0;
	z-index:2;
}
	
.mainbox .innerbox{
	width:90%;
	margin:0 auto;
	position: relative;
	height:auto;
	line-height: 0;
	z-index:1;
}
	
.mainbox .innerbox .light{
	width: 110%;
    top: 0;
    left: -5%;
    position: absolute;
	overflow: hidden;
}
	
.mainbox .innerbox .light img{
	width: 200%;
    top: -150px;
    left: -100px;
    position: relative;
}
	
.mainbox .innerbox .facebox{
	width: 78%;
	float: none;
	padding: 0;
	margin: 0 auto 10%;
	/* height: calc(100vh - 80px); */
	box-sizing: border-box;
	position: relative;
	max-width: 384px;
}
	
.mainbox .innerbox .titlebox{
	width:90%;
	float: none;
	margin:10% auto 60px;
	position: relative;
	max-width: 450px;
}

.mainbox .innerbox .faceboxin{
	position: relative;
}
	
.mainbox .innerbox .inbox{
	position: relative;
  	/* top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%); */
}
.mainbox .innerbox .face{
	width:100%;
	transition: all 0.3s cubic-bezier(.17,.67,.7,1.59);
	transform: scale(0.7);
	transition-delay: 0.5s;
	opacity:0;
}
	
.mainbox .innerbox .face.active{
	transform: scale(1);
	opacity: 1;
}
	
.mainbox .innerbox .f_huki{
	width:40%;
	top:2%;
	left:6%;
	position: absolute;
	transition: all 0.3s cubic-bezier(.17,.67,.7,3);
	transform: scale(0.7);
	transition-delay: 0.7s;
	opacity:0;
}
	
.mainbox .innerbox .f_huki.active{
	transform: scale(1);
	opacity: 1;
}
	
.mainbox .innerbox .t_huki{
	width:100%;
	max-width: 590px;
	margin: 0 auto;
    padding: 100px 0 3%;
	transform: scale(0.5);
	transition: all 0.3s cubic-bezier(.17,.67,.7,2);
	transition-delay: 1.2s;
	transform-origin: bottom center;
	opacity: 0;
}
	
.mainbox .innerbox .t_huki.active{
	opacity: 1;
	transform: scale(1);
	
}
	
.mainbox .innerbox .title{
	width:100%;
	margin:0 0 30px 0;
	position: relative;
	overflow: hidden;
	padding:0 0 15px 0;
}
	
.mainbox .innerbox .title img{
	display: block;
	width:100%;
	height:auto;
	top:120px;
	position: relative;
	transition: all 0.3s;
	transition-delay: 1s;
	transform: rotate(0.00000deg);
}
	
.mainbox .innerbox .title.active img{
	top:0;
}

.mainbox .innerbox .title:after{
	content: "";
	border-bottom:3px solid #fff;
	position: absolute;
	bottom:0;
	left:0;
	transition: all 0.3s;
	width:0;
	transition-delay: 0.7s;
}
	
.mainbox .innerbox .title.active:after{
	width:100%;
}
	
.mainbox .innerbox .s_phbox{
	position: relative;
	z-index:2;
	letter-spacing:0;
	margin:0;
	transition: all 0.3s;
	opacity: 0;
}
	
.mainbox .innerbox .s_phbox.active{
	opacity: 1;
}
	
.mainbox .innerbox .s_phbox.box2{
	position: absolute;
	z-index:4;
	letter-spacing:0;
	bottom:0;
	margin:0;
}
	
.mainbox .innerbox .s_phbox.box2 img{
	transition: all 0.3s;
	transition-delay: 0.3s;
	display: block;
	top:0;
	left:0;
	position: relative;
}
	
.mainbox .innerbox .s_phbox.active.box2 img{
	top:-20px;
	left:-14%;
}
	
/* .mainbox .innerbox .s_phbox .s_ph01{
	width:calc(56% - 10px);
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin:0 10px 0 0;
}
	
.mainbox .innerbox .s_phbox .s_ph02{
	width:44%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
} */
	
/* .mainbox .innerbox .enbox{
	position: absolute;
	bottom:18%;
	right:0;
	z-index:3;
	width:40%;
	opacity: 0;
	transition: all 0.5s cubic-bezier(.17,.67,.7,2);
	transition-delay: 0.3s;
	transform: scale(1.1);
}
	
.mainbox .innerbox .enbox.active{
	opacity: 1;
	transform: scale(1);
} */
	
.mainbox .innerbox .enbox .en{
	width:100%;
	position: relative;
}
	
.mainbox .innerbox .enbox .e_huki{
	width:35%;
	position: absolute;
	top:-30px;
	right:20px;
}
	
.mainbox .innerbox .enbox .entx{
	width:50%;
	position: absolute;
	top:calc(50% - 10%);
	left:50%;
	margin:-13% 0 0 -25.5%;
}
	
/* .mainbox .innerbox .enboxcap{
	position: absolute;
	bottom:8%;
	right:0;
	z-index:3;
	opacity: 0;
	width:37%;
	transition: all 0.5s;
	transition-delay: 0.5s;
}
	
.mainbox .innerbox .active .enboxcap{
	opacity:1;
} */

.mainbox .innerbox .sec01_btns {
	flex-direction: column;
    align-items: center;
	margin-bottom: 50px;
}
.mainbox .innerbox .sec01_btns .sec_btn {
	width: 100%;
    margin: 0;
    margin-bottom: 5%;
    max-width: 400px;
	transition: all 0.3s ease;
}
.mainbox .innerbox .s_phbox .s_ph04 .snew {
	right: -42px;
    width: 70%;
}
.movie_maintl{
	margin:0 0 30px 0;
}


/*innerbox2*/
.mainbox .innerbox.innerbox2 {
	z-index: 0;
}
.mainbox .innerbox.innerbox2 .title-widen {
	width: 78%;
    margin: 0 auto;
    max-width: 384px;
}
.mainbox .innerbox.innerbox2 .facebox {
	
}
.mainbox .innerbox.innerbox2 .titlebox {
	margin-top: 50px;
}
.mainbox .innerbox.innerbox2 .face {
	/* -webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1); */
}
.mainbox .innerbox2 .light {
	left: auto;
	right: -20%;
	z-index: -1;
	transform: rotate(18deg);
}
.mainbox .innerbox2 .light img {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	margin: -45% 0 0 0;
}
.mainbox .innerbox.innerbox2 .f_huki {
	left: auto;
    right: 10%;
    top: 0;
}
.mainbox .innerbox.innerbox2 .f_huki img {
	transform: rotate(85deg);
}
.mainbox .innerbox.innerbox2 .s_phbox {
	padding-top: 0;
	padding-left: 55%;
	width: 56%;
}
.mainbox .innerbox.innerbox2 .enbox {
	width: 40%;
	right:auto;
	left: 0;
	top: auto;
	bottom: 14%;
}
.mainbox .innerbox.innerbox2 .enbox .entx {
	width: 70%;
    top: 50%;
    left: 40%;
	margin: -25% 0 0 -25.5%;
}
.mainbox .innerbox.innerbox2 .enboxcap {
	width: 55%;
    position: relative;
    margin: 6% auto 0;
}

/*moviebox*/
.moviebox{
	padding:70px 0;
	position: relative;
	width:100%;
	overflow: hidden;
}
	
.moviebox .ill01{
	width:15%;
	position: absolute;
	top:45%;
	left:50%;
	opacity: 0;
	margin:0 0 0 -50%;
	transition: all 1s;
	display: none;
}
	
.moviebox .ill01.active{
	top:55%;
	opacity: 1;
}
	
.moviebox .ill02{
	width:20%;
	position: absolute;
	top:125px;
	left:50%;
	opacity: 0;
	margin:0 0 0 40%;
	transition: all 1s;
	pointer-events: none;
}
	
.moviebox .ill02.active{
	top:175px;
	opacity: 1;
}
	
.moviebox .btnbox{
	width:90%;
	margin:0 auto;
	position: relative;
	transform-origin: center center; 
	opacity: 0;
	transition: all 0.7s ease 0s;
	transform: rotate3d(0, 1, 0, 90deg);
	-webkit-transform: rotate3d(0, 1, 0, 90deg);
}
	
.moviebox .btnbox.active{
	opacity: 1;
	transform: rotate3d(0, 1, 0, 0deg);
	-webkit-transform: rotate3d(0, 1, 0, 0deg);
}
	
.moviebox .btnbox .inbox{
	width:100%;
	padding-top:52%;
	border-radius: 10px;
	border:2px solid #47B9C2;
	background:#FFFF00;
	box-shadow:10px 10px 0px 0px rgba(71,185,194,0.3);
	transition: all 0.3s;
	position: relative;
	top:0;
	left:0;
	display: block;
	cursor: pointer;
}

.moviebox .btnbox .inbox:hover{
	top:5px;
	left:5px;
	box-shadow:5px 5px 0px 0px rgba(71,185,194,0.3);
}
	
.moviebox .btnbox .intx{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
}
	
.moviebox .btnbox .intx .tx{
	width:80%;
	margin:0 auto;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
	
.moviebox .btnbox .intx2{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	opacity: 1;
	transition: all 0.3s;
}
	
.moviebox .btnbox .intx2 .tx{
	width:20%;
	margin:2.5% auto 0;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
	
.moviebox .btnbox .inbox:hover .intx2{
	opacity: 0;
}
	
/*casebox*/
.casebox{
	padding:70px 0 20px 0;
	position: relative;
	background:url("../images/bg2.png") repeat,#A9DEE2;
	background-size:13px;
}
	
.casebox .innerbox{
	width:90%;
	margin:0 auto;
}
	
.casebox ul{
	width:100%;
	margin:0 0 0 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}
	
.casebox ul li{
	width:100%;
	max-width: 400px;
	margin:0 auto 10%;
	padding:15px 0 0 0;
	transition: opacity 0.2s;
	opacity: 0;
}
	
.casebox ul li.active{
	opacity: 1;
}

.casebox ul li.case-face {
	width: 90%;
	max-width: 220px;
	margin: 0 auto 10%;
	padding: 0;
	order: -1;
}
.casebox ul li.case-face .face {
	margin-top: -5%;
	transition: all 0.3s cubic-bezier(.17,.67,.7,1.59);
    transform: scale(0.7);
    transition-delay: 0.4s;
    opacity: 0;
    transform-origin: bottom center;
}
.casebox ul li.case-face.active .face {
	transform: scale(1);
    opacity: 1;
}
	
.casebox ul li .inbox{
	width:100%;
	background:#47B9C2;
	border-radius: 10px;
	position:relative;
	padding:40px 0 30px 0;
}
	
/* .casebox ul li.box01 .inbox{
	background-image:url("../images/case_ill01.png");
	background-repeat: no-repeat;
	background-size:110px;
	background-position: right 0 bottom 60px;
}
	
.casebox ul li.box02 .inbox{
	background-image:url("../images/case_ill02.svg");
	background-repeat: no-repeat;
	background-size:82px;
	background-position: right 20px bottom 120px;
}
	
.casebox ul li.box03 .inbox{
	background-image:url("../images/case_ill03.svg");
	background-repeat: no-repeat;
	background-size:86px;
	background-position: right 20px bottom 100px;
}
	
.casebox ul li.box04 .inbox{
	background-image:url("../images/case_ill04.svg");
	background-repeat: no-repeat;
	background-size:63px;
	background-position: right 30px bottom 100px;
} */
	
.casebox ul li .inbox .casenum{
	text-align: center;
	position: absolute;
	top:-15px;
	width:100%;
}
	
.casebox ul li .inbox .casenum span{
	width:118px;
	display: inline-block;
	box-shadow:4px 4px 0px 0px #47B9C2;
	line-height: 0;
	
}
	
.casebox ul li .inbox .tlbox{
	text-align: center;
	position: relative;
	margin:0 0 7% 0;
}
	
.casebox ul li .inbox .tlbox span{
	width:auto;
	height:27px;
	display: inline-block;
	position: relative;
	padding:0 0 8px 0;
	overflow: hidden;
	line-height: 1;
}
	
.casebox ul li .inbox .tlbox span img{
	width:auto;
	height:100%;
	top:50px;
	position: relative;
	transition: all 0.3s;
	transition-delay: 0.3s;
}
	
.casebox ul li.active .inbox .tlbox span img{
	top:0;
}

.casebox ul li .inbox .tlbox span:after{
	content: "";
	border-bottom:3px solid #fff;
	position: absolute;
	bottom:0;
	left:0;
	transition: all 0.3s;
	width:0;
	transition-delay: 0s;
}
	
.casebox ul li.active .inbox .tlbox span:after{
	width:100%;
}

.casebox ul li .inbox .txbox {
	font-size: 17px;
	color: #fff;
	font-weight: 600;
	padding: 0 20px;
    text-align: center;
    line-height: 1.6;
	transition: all 0.3s cubic-bezier(.17,.67,.7,1.59);
    transform: scale(0.7);
    transition-delay: 0.4s;
    opacity: 0;
    transform-origin: bottom center;
}
.casebox ul li.active .inbox .txbox {
	transform: scale(1);
    opacity: 1;
}
	
.casebox ul li .inbox .face{
	text-align: center;
	position: relative;
}
	
.casebox ul li .inbox .face .huki{
	width:202px;
	position: absolute;
	bottom:calc(100% - 20px);
	left:20px;
	transition: all 0.3s cubic-bezier(.17,.67,.7,1.59);
	transform: scale(0.7);
	transition-delay: 0.4s;
	opacity:0;
	transform-origin: bottom center;
}
	
.casebox ul li.active .inbox .face .huki{
	transform: scale(1);
	opacity:1;
}
	
.casebox ul li.active .inbox .face span{
	width:127px;
	display: inline-block;
	margin:0 50px 0 0;
}
	

/*tokubox*/
.tokubox{
	padding:70px 0 0 0;
}
	
.tokubox .innerbox{
	width:90%;
	margin:0 auto;
	padding:20px 0 0 0;
}
	
.tokubox .innerbox .tokucont{
	border-radius: 10px;
	border:2px solid #47B9C2;
	background:#fff;
	padding:50px 10px 30px;
	position: relative;
	transition: opacity 0.2s;
	opacity: 0;
	width: auto;
    max-width: 376px;
    margin: 0 auto 60px;
}

.tokubox .innerbox .tokucont.active{
	opacity: 1;
}

.tokubox .innerbox .tokucont .tokunum{
	text-align: center;
	position: absolute;
	top:-17px;
	width:100%;
}
	
.tokubox .innerbox .tokucont .tokunum span{
	width:118px;
	font-size:0;
	display: inline-block;
	box-shadow:4px 4px 0px 0px #47B9C2;
	line-height: 0;
	
}
	
.tokubox .innerbox .tokucont .tlbox{
	text-align: center;
	position: relative;
	margin:0 0 5% 0;
}
	
.tokubox .innerbox .tokucont .tlbox span{
	width:auto;
	height:27px;
	display: inline-block;
	position: relative;
	padding:0 0 10px 0;
	overflow: hidden;
	line-height: 1;
}
	
.tokubox .innerbox .tokucont .tlbox span img{
	width:100%;
	height:100%;
	top:80px;
	position: relative;
	transition: all 0.3s;
	transition-delay: 0.3s;
}
	
.tokubox .innerbox .tokucont.active .tlbox span img{
	top:0;
}
	
.tokubox .innerbox .tokucont .tlbox span:after{
	content: "";
	border-bottom:3px solid #47B9C2;
	position: absolute;
	bottom:0;
	left:0;
	transition: all 0.3s;
	width:0;
	transition-delay: 0s;
}
	
.tokubox .innerbox .tokucont.active .tlbox span:after{
	width:100%;
}
	
.tokubox .innerbox .tokucont .subtl{
	text-align: center;
	position: relative;
	margin:0 0 20px 0;
	transition: all 0.5s;
	top:30px;
	opacity: 0;
	transform: rotate(0.0001deg);
	font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #333;
    letter-spacing: -2px;
}
	
.tokubox .innerbox .tokucont .subtl.active{
	top:0;
	opacity: 1;
}
	
.tokubox .innerbox .tokucont .subtl span{
	
}
	
	
.tokubox .innerbox .tokucont .subtl.box2 span{
	width:80%;
	height:auto;
	display: inline-block;
	position: relative;
	line-height: 1;
}
	
.tokubox .innerbox .tokucont .subtl.box3 span{
	width:85%;
	height:auto;
	display: inline-block;
	position: relative;
	line-height: 1;
}
	
.tokubox .innerbox .tokucont .subtl.box4{
	margin:0 0 0 0 !important;
}
	
.tokubox .innerbox .tokucont .subtl.box4 span{
	width:90%;
	height:auto;
	display: inline-block;
	position: relative;
	line-height: 1;
}

.tokubox .innerbox .tokucont .subtl small {
    font-size: 10px;
    display: block;
	padding: 0 20px;
}
	
.tokubox .innerbox .tokucont .capbox{
	text-align: center;
	margin:0 auto 20px;
	position: relative;
	top:30px;
	opacity: 0;
	transition: all 0.5s;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.6;
	color: #333;
}

.tokubox .innerbox .tokucont .capbox .capill{
	display: inline-flex;
    align-items: center;
    border: 1px solid #47B6BF;
    max-width: 100%;
}
.tokubox .innerbox .tokucont .capbox span {
	color: #fff;
	background: #47B6BF;
	padding: 3px 5px;
	flex: none;
    place-self: stretch;
	display: flex;
    align-items: center;
}
.tokubox .innerbox .tokucont .capbox .capill > div {
	padding: 3px 5px;
	flex: 1;
}
	
.tokubox .innerbox .tokucont .capbox.box2{
	margin:0 auto 0;
}
	
.tokubox .innerbox .tokucont .capbox.active{
	opacity: 1;
	top:0;
}
	
.tokubox .innerbox .tokucont .capbox p{
	text-indent: -1.1em;
	padding-left: 1.1em;
	padding:15px 0 0 1.1em;
}
	
.tokubox .innerbox .tokucont .capbox.box2 p{
	padding:0 0 0 1.1em;
}
	
.tokubox .innerbox .tokucont .illbox{
	width:90%;
	margin:0 auto;
	position: relative;
	top:30px;
	opacity: 0;
	transition: all 0.5s;
	padding:0 0 5% 0;
}
	
.tokubox .innerbox .tokucont .illbox.active{
	opacity: 1;
	top:0;
}
	
.tokubox .innerbox .tokucont .illbox2{
	width:30%;
	margin:0 auto;
	position: absolute;
	bottom:-1px;
	right:10px;
	opacity: 0;
	transition: all 0.5s;
	line-height: 0;
}
	
.tokubox .innerbox .tokucont .illbox2.active{
	opacity: 1;
}
	
.tokubox .innerbox .tokucont .tokuspbox{
	width:65%;
	margin:0 0 0 5%;
}
	
	
/*productbox*/
.productbox{
	padding:70px 0 20px 0;
	position: relative;
	background:url("../images/bg2.png") repeat,#A9DEE2;
	background-size:13px;
	position: relative;
	z-index:1;
}
	
.productbox .innerbox{
	width:90%;
	margin:0 auto;
	padding:0 0 0 0;
}
	
.productbox .innerbox .btnbox{
	margin:0 auto 60px;
	transform-origin: center center; 
	opacity: 0;
	transition: all 0.7s ease 0s;
	transform: rotate3d(0, 1, 0, 90deg),;
	-webkit-transform: rotate3d(0, 1, 0, 90deg);
	position: relative;
	z-index:4;
    max-width: 400px;
    width: 100%;
}
	
.productbox .innerbox .btnbox.active{
	opacity: 1;
	transform: rotate3d(0, 1, 0, 0deg);
	-webkit-transform: rotate3d(0, 1, 0, 0deg);
}
	
.productbox .innerbox .btnbox .inbox{
	display: block;
	border-radius: 10px;
	border: 2px solid #47B9C2;
	background: #fff;
	padding:35px 5% 30px;
	box-sizing: border-box;
	box-shadow: 10px 10px 0px 0px rgba(71,185,194,0.3);
	transition: all 0.3s;
	position: relative;
	top: 0;
	left: 0;
}

.productbox .innerbox .btnbox .inbox.box2{
	background: #FFFF00;
}
	
.productbox .innerbox .btnbox .inbox:hover{
	/* top:5px;
	left:5px;
	box-shadow:5px 5px 0px 0px rgba(71,185,194,0.3); */
}
	
.productbox .innerbox .btnbox .inbox .leftbox{
	width:100%;
	float: left;
	position: relative;
	padding:0 0 0 0 ;
	box-sizing: border-box;
	text-align: right;
}
	
.productbox .innerbox .btnbox .inbox .leftbox .phbox span{
	width:45%;
	display: inline-block;
	position: relative;
	z-index:3;
	margin:0 10px 0 0;
}

.productbox .innerbox .btnbox .inbox .leftbox.box2{
	width:100%;
	float: left;
	position: relative;
	padding:0 0 0 0 ;
	box-sizing: border-box;
	text-align: left;
}
	
.productbox .innerbox .btnbox .inbox .leftbox.box2 .phbox span{
	width:50%;
	display: inline-block;
	position: relative;
	z-index:3;
	margin:0 0 0 -10px
}
	
.productbox .innerbox .btnbox .inbox .leftbox .illbox{
	width:60%;
	line-height: 0;
	top:0;
	left:10px;
	position: absolute;
	z-index:2;
}
	
.productbox .innerbox .btnbox .inbox .illbox2{
	width:100%;
	position: absolute;
	top:-30px;
	left:0;
	text-align: center;
}

.productbox .innerbox .btnbox .inbox .illbox2 span{
	width:259px;
	display: inline-block;
}

.productbox .innerbox .btnbox .inbox .leftbox.box2 .phillbox{
	position: absolute;
	right:20px;
	bottom:20px;
}

.productbox .innerbox .btnbox .inbox .leftbox.box2 .phillbox .phill{
	text-align: right;
}

.productbox .innerbox .btnbox .inbox .leftbox.box2 .phillbox .phill span{
	width:60%;
	display: inline-block;
	margin:0 -20px 0 0;
}
	
.productbox .innerbox .btnbox .inbox .rightbox{
	width:100%;
	padding:0 0 0 0;
	box-sizing: border-box;
	float: right;
}

.productbox .innerbox .btnbox .inbox .rightbox.box2{
	width:100%;
	padding:20px 0 0 5%;
	box-sizing: border-box;
	float: right;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .tlbox{
	font-size:2.3rem;
	font-weight: 600;
	letter-spacing: -0.1rem;
	line-height: 3.5rem;
	color:#47B9C2;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .price small{
	font-size: 12px;
}

.productbox .innerbox .btnbox .inbox .rightbox .price02{
	width:100%;
	margin:0 0 0 0;
	max-width:290px;
	transform: rotate(0.0001deg);
	letter-spacing: -0.1rem;
}

.productbox .innerbox .btnbox .inbox .rightbox .subhuki{
	width:60px;
	padding:20px 0 0 0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .subhuki2{
	width:72px;
	padding:0 0 0 0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .tx{
	font-size: 1.4rem;
	line-height: 2.1rem;
	margin:0 0 20px 0;
}

.productbox .innerbox .btnbox .inbox .rightbox .tx.box2{
	font-size: 1.6rem;
	line-height: 2.6rem;
	margin:0 0 20px 0;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .tx.box2 span{
	font-size: 1.2rem;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .tx.box2 strong{
	font-size: 2.4rem;
	font-weight: bold;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .capbox{
	text-align: center;
}

.productbox .innerbox .btnbox .inbox .rightbox .capbox .capin{
	display: inline-block;
	height:80px;
	letter-spacing: 0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
	
.productbox .innerbox .btnbox .inbox .rightbox .capbox .capin img{
	width:auto;
	height:100%;
	padding:0 6px;
}

.productbox .innerbox .btnbox .inbox .p_comment_flex {
	margin: 30px 0;
}
.productbox .innerbox .btnbox .inbox .p_comment_item {
    font-size: 1.2rem;
    line-height: 2.8rem;
    font-weight: 500;
    text-align: right;
}
.productbox .innerbox .btnbox .inbox .p_comment_item img {
    display: block;
}
	
.productbox .innerbox .btnbox .inbox .rakutenbtn{
	width:100%;
	border-radius: 100px;
	text-align: center;
	color:#fff;
	font-size:1.6rem;
	background:#47B9C2;
	padding:15px 0;
	margin:30px 0 0 0;
	transition: all 0.3s;
	box-sizing: border-box;
	border:2px solid #47B9C2;
}
	
.productbox .innerbox .btnbox .inbox:hover .rakutenbtn{
	background:#fff;
	color:#47B9C2;
}
	
.productbox .innerbox .btnbox .inbox .btncap{
	padding:20px 0 0 0;
	font-size:1.2rem;
	letter-spacing: 0;
}
	
.productbox .innerbox .pcap{
	text-align: center;
}
	
.productbox .innerbox .pcap span{
	display: inline-block;
	width:90%;
	margin:0 0 30px 0;
}
	
	
/*commonsubtl*/
.mainsubtl{
	height:24px;
	width:auto;
	text-align: center;
	overflow: hidden;
	margin:0 0 50px 0;
}
	
.mainsubtl img{
	width:auto;
	height:100%;
	transition: all 0.3s;
	top:60px;
	display: inline-block;
	position: relative;
	
}
	
.mainsubtl.active img{
	top:0;
}
	
/*contact*/
	.contactbox{
		width:90%;
		margin:0 auto;
		padding:70px 0;
	}
	
	.contactbox .subtlcont{
		top:30px;
		position: relative;
		opacity: 0;
		transition: all 0.5s;
	}
	
	.contactbox .subtlcont.active{
		top:0;
		opacity: 1;
	}
	
	.contactbox .subtl{
		text-align: center;
		margin:0 0 30px 0;
	}
	
	.contactbox .subtl span{
		height:22px;
		display: inline-block;
		position: relative;
	}
	
	.contactbox .subtl span:after{
		content: "";
		position: absolute;
		width:100%;
		border-bottom:3px solid #47B9C2;
		bottom:-10px;
		left:0;
	}
	
	.contactbox .subtl span img{
		height:100%;
		width:auto;
	}
	
	.contactbox .teltx{
		font-size:3rem;
		margin:0 0 50px 0;
		text-align: center;
		font-weight: bold;
	}
	
	.contactbox .teltx p{
		display: inline-block;
	}
	
	
/*form*/
	.formbox{
		font-size:1.4rem;
	}
	.formbox .checktx{
		color:#c30d23;
		font-size:0.9em;
		text-align:right;
		margin:40px 0 0 0;
	}
	
	.formbox.kakunin .tx2{
		margin:0 auto 40px;
		width:90%;
		text-align: left;
	}
	
	.formbox table{
		width:100%;
		margin:0 auto;
	}
	
	.formbox table tr{
	}
	
	.formbox table tr td{
		padding:10px 0 10px 0;
		line-height: 1.7em;
		box-sizing: border-box;
		width:100%;
		display: block;
	}
	
	.formbox.kakunin table tr td{
		padding:0 0 30px 0;
		line-height: 1.7em;
		box-sizing: border-box;
		width:100%;

	}
	
	.formbox.kakunin.box2{
		text-align: left;
		line-height: 2.4rem;

	}
	
	.formbox table tr td.td2{
		padding:15px 0 15px 0;
		vertical-align: top;
	}
	
	.formbox table tr td.blockbox{
		display: block !important;
		padding:10px 0;
		width:100%;
		box-sizing: border-box;
	}
	
	.formbox table tr th{
		width:100%;
		vertical-align: top;
		font-weight:600;
		padding:0 0 15px 0;
		line-height: 1.7em;
		display: inline-block;
		text-align: left;
	}
	
	.formbox table tr td span.check{
		color:#fff;
		margin:-2px 10px 0 0;
		vertical-align:middle;
		background:#EA3C64;
		font-size:1rem;
		padding:5px 5px;
		float: none;
		display: inline-block;
		border-radius: 4px;
		line-height: 1;
		letter-spacing: 0.2em;
	}
	
	.formbox table tr td:first-child{
		padding:22.5px 0 0 0;
		width:100%;
		box-sizing: border-box;
		position: relative;
		display: inline-block;

	}
	
	.formErrorContent{
		background:none !important;
		color:#ee0101 !important;
		font-size:1.2rem !important;
		padding:5px 0 !important;
		min-width: 100px !important;
		display: inline-block !important;
	}
	
	input[type="radio"]{
		position:relative;
		margin:-0.25em 5px 0 0;
	}
	
	input[type="text"],input[type="email"]{
		padding:15px;
		width:100%;
		box-sizing: border-box;
		font-size:1em;
		background:#fff;
		border: 2px solid #47B9C2;
		border-radius: 10px;
		box-shadow: none;
		-webkit-appearance: none; 
	}
	
	input.box2{
		width:130px;
		margin:0 15px;
	}
	
	.atx{
		display: inline-block;
		width:150px;
		font-size:1.2rem;
		vertical-align: middle;
		line-height: 1.7rem;
		margin:0 0 0 15px;
	}
	
	.alink{
		color:#957B4A;
		display: inline-block;
		padding:0 0 3px 0;
		border-bottom:1px solid #957B4A;
		transition: opacity 0.3s;
	}
	
	.alink:hover{
		opacity: 0.8;
	}
	
	.abtnbox{
		margin:15px 0 0 0;
	}
	
	.abtnbox .abtn{
		cursor: pointer;
		background-color:rgba(0,0,0,0.7);
		color:#fff;
		padding:5px 15px;
		display: inline-block;
		margin:0 0 10px 0;
		transition: opacity 0.3s;
	}
	
	.abtnbox .abtn:hover{
		opacity: 0.8;
	}
	
	.blockbox label{
		display: inline-block;
	}
	
	.cbtnbox{
		text-align: center;
		margin:60px 0 0 0;
	}
	
	.cbtnbox.box2{
		text-align: center;
		margin:0 0 0 0;
	}
	
	.formcaption{
		line-height: 2.5rem;
		width:100%;
		height:350px;
		background:#fff;
		border: 2px solid #47B9C2;
		border-radius: 10px;
		box-sizing: border-box;
		padding:30px;
		margin:30px 0 0 0;
		font-size:1.4rem;
	}
	
	/*iphone scrollbar none*/
	.formcaption div::-webkit-scrollbar {
      	display: none;
      	-webkit-appearance: none;
	}
	
	.formcaption .tl{
		font-weight: bold;
		margin:10px 0 20px 0;
		font-size:2rem;
		text-align: center;
	}
	
	.formcaption .sub{
		font-weight: bold;
		margin:0 0 10px 0;
		font-size:1.2rem;
	}
	
	.formcaption .tx{
		margin:0 0 20px 0;
		font-size:1.2rem;
	}
	
	.formcaption .tx.box2{
		text-indent: -1.5em;
		padding-left: 1.5em;
	}
	
	.simplebar-track.simplebar-vertical{
		background:#E3E3E3;
		width:8px !important;
		border-radius: 50px;
		top:9px !important;
		bottom:9px;
		right:9px;
	}
	.simplebar-scrollbar::before {
    	position: absolute;
    	content: '';
    	background: #47B9C2 !important;
    	border-radius: 7px;
    	left: 0 !important;
    	right: 0 !important;
		top:0 !important;
		bottom:0 !important;
    	opacity:1 !important;
    	transition: opacity 0.2s linear;
	}
	
	button[type="submit"].btn01{
		width:300px;
		border:3px solid #47B9C2;
		color:#fff;
		display: block;
		margin:0 auto;
		text-align: center;
		font-size:1.8rem;
		background:#47B9C2;
		padding:17px 0;
		transition: all 0.3s;
		cursor: pointer;
		line-height: 1;
		border-radius: 100px;
	}
	
	button[type="submit"].btn01:hover{
		color:#47B9C2;
		background:#fff;
	}
	
	a.btn02{
		color:#333;
		border:none;
		font-weight: bold;
		font-size:1em;
		cursor: pointer;
		margin:50px 0 0 0;
		transition:all 0.3s;
		opacity:1;
		display: inline-block;
		letter-spacing:0.1em;
		text-decoration: none;
	}
	
	input[type="submit"]:hover{
		opacity:0.8;
		
	}
	
	::-webkit-input-placeholder {
  	color: #A5A5A5;
	}
	::-moz-placeholder {
  	color: #A5A5A5; opacity: 1;
	}
	:-ms-input-placeholder {
  	color: #A5A5A5;
	}
	
	select{
		width: 100%;
		padding: 15px 0 15px 15px;
		outline: none;
		font-size:1em;
		margin:0 0 0 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0;
		line-height: 1;
		display: inline-block;
		border:none;
		background: url("../images/select_arrow.png") no-repeat ,#fff;
		background-size:10px;
		background-position: left 0 top 50%;
		box-sizing: border-box;
	}
	
	select::-ms-expand {
    	display: none;
	}
	.contactbox input[type="radio"]{
		display: block;
	}
	.contactbox input[type="radio"] + span{
  		position:relative;
		font-weight: normal;
	}
	.contactbox input[type="radio"] + span::before{
  		margin:-2px 10px 0 0;
    	content:" ";
    	display:inline-block;
    	width:35px;
    	height:35px;
    	background:url("../images/radio.svg") left 50% no-repeat;    
    	background-size:contain;
    	vertical-align:middle;
	}
	.contactbox input[type="radio"]:checked + span::before{
  		margin:-2px 10px 0 0;
    	content:" ";
    	display:inline-block;
    	width:35px;
    	height:35px;
    	background:url("../images/radio_on.svg") left 50% no-repeat;    
    	background-size:contain;
    	vertical-align:middle;
	}
	
	.contactbox input[type="checkbox"]{
		visibility: hidden;
	}
	
	.contactbox span.checkbox{
  		position:relative;
		font-weight: normal;
		left:-16px;
	}
	
	/*firefox*/
	@-moz-document url-prefix() {
		.contactbox span.checkbox{
			left:-19px;
		}
	}

	
	.contactbox input[type="checkbox"] + span{
  		position:relative;
		font-weight: normal;
	}
	.contactbox input[type="checkbox"] + span{
  		position:relative;
		font-weight: normal;
	}
	.contactbox input[type="checkbox"] + span::before{
  		margin:-2px 15px 0 0;
    	content:" ";
    	display:inline-block;
    	width:30px;
    	height:30px;
    	background:url("../images/check.svg") left 50% no-repeat;    
    	background-size:contain;
    	vertical-align:middle;
	}
	.contactbox input[type="checkbox"]:checked + span::before{
  		margin:-2px 15px 0 0;
    	content:" ";
    	display:inline-block;
    	width:30px;
    	height:30px;
    	background:url("../images/check_on.svg") left 50% no-repeat;    
    	background-size:contain;
    	vertical-align:middle;
	}
	
	textarea{
		padding:15px;
		font-size: 1em;
		width:100%;
		box-sizing: border-box;
		background:#fff;
		border:2px solid #47B9C2;
		min-height:245px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		line-height:2rem;
		border-radius: 10px;
	}
	
#footer{
	padding:30px 5%;
	background:#47B9C2;
	width:90%;
}
	
#footer .logobox{
	margin:0 0 40px 0;
	text-align: center;
}
	
#footer .logobox span{
	display: inline-block;
	line-height: 0;
	width:106px;
}
	
#footer .fcont{
	letter-spacing:0;
	color:#fff;
	font-size:0;
}
	
#footer .fcont p{
	display: inline-block;
}
	
#footer .fcont a{
	color:#fff;
}
	
#footer .leftbox{
	width:100%;
	display: inline-block;
	letter-spacing:0.1em;
	font-size:1.2rem;
	margin:0 0 40px 0;
	text-align: center;
}
	
#footer .rightbox{
	width:100%;
	display: inline-block;
	letter-spacing:0.1em;
	text-align: right;
	font-size:1.2rem;
	text-align: center;
}
	
	.page_top{
		width:60px;
		position: fixed;
		bottom:10px;
		right:5px;
		z-index:10;
		opacity: 0;
		visibility: hidden;
		cursor: pointer;
		line-height: 0;
	}
	
	.page_top img{
		position: relative;
		top:30px;
	}
	
	.page_top.active{
		opacity: 1;
		visibility: visible;
	}
	
	.page_top.sc{
		position: absolute;
		opacity: 1;
		visibility: visible;
	}
	
	.page_top:hover{
		opacity:0.8;
	}

}



/****************************** MODIFIED CSS ******************************/

.productbox .innerbox .btnbox .inbox .rightbox .subhuki{ padding: 0;}
.productbox .innerbox .btnbox3 .inbox { padding: 71px 43px 34px 50px; }
.productbox .innerbox .btnbox .inbox .illbox2 span { width: 529px; max-width: 100%; }
.productbox .innerbox .btnbox .inbox .rightbox.box2 .tlbox {
	font-weight: bold;
	font-size: 30px;
}
.productbox .innerbox .pcap span { margin: 0; width: 100%; }

@media screen and (max-width:768px){
	.productbox .innerbox .btnbox .inbox .illbox2 { top: -21px; }
	.productbox .innerbox .btnbox3 .inbox { padding: 30px 20px 20px; }
	.productbox .innerbox .btnbox .inbox .rightbox.box2 { padding: 0; }
	.productbox .innerbox .btnbox .inbox .rightbox.box2 .tlbox {
		font-size: 15px;
		line-height: 1.5; 
	}
}


/****************************** NEW CSS ******************************/

.productbox .innerbox .btnbox .inbox .ben_content.rightbox.box2 {
	width: 100%;
	margin-bottom: 37px;
}

.productbox .innerbox .btnbox .inbox .media.leftbox.box2 {
	width: 100%;
	text-align: center;
}

.btnbox3 .media img { 
	display: inline-block;
	vertical-align: bottom;
}

.btnbox3 .media img:last-child {
	margin: 0 0 30px 34px;
}

.btnbox3 img {
 width: auto;
 max-width: 100%;
 display: block;
}

.btnbox3 .illbox2 span img {
	max-width: 95%;
	margin: 0 auto;
 }

.benefit_sec1, .benefit_sec2 {
	border-bottom: 5px dashed #47B6BF;
}

.benefit_sec1 {
	margin-bottom: 37px;
}

.benefit_sec2 {
	margin-bottom: 13px;
}

.ben_column {
	display: inline-block;
	vertical-align: top;
}

.ben_column.left {
	width: 388px;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.1rem;
}

.ben_column.right {
	width: 360px;
	float: right;
}

.ben_column small {
	font-size: 14px;
}

.ben_content .tlbox { margin-bottom: 25px;}
.ben_column .list { margin: 15px 0 30px; }
.ben_buttons { 
	margin-bottom: 40px;
	/* overflow: hidden; */
	clear: both;
}

.ben_buttons .btncap { padding: 0!important; }

.benefit_sec3 .ben_buttons { margin-bottom: 0; }

.ben_buttons a {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	display: inline-block;
	vertical-align: top;
	width: 360px;
	max-width: 100%;
	line-height: 56px;
	border-radius: 60px;
	border:none;
	text-align: center;
	margin-bottom: 20px;
	transition: all 0.3s ease;
}

.ben_buttons a:hover {
	opacity: .8;
	transform: scale(1.1);
}

.ben_buttons .red {
	background-color: #BD0000;
}

.ben_buttons .orange {
	background-color: #FF9300;
	float: right;
}

.ben_buttons .wide-btn {
	width: 100%;
}

.ben_buttons a.inbox.box2 {
	display: none!important;
}

/* Stores section */
.stores { 
	text-align: center; 
	letter-spacing: -0.1rem;
}
.stores .pcap { margin-bottom: 20px; }
.stores .disclaimer {
	list-style-type: none;
	font-size: 18px;
}
.stores .disclaimer li { margin-bottom: 13px; }
.stores .stores_btn {
	font-size: 18px;
	color: #47B6BF;
	background: #fff;
	font-weight: 700;
	display: inline-block;
	width: 301px;
	max-width: 100%;
	line-height: 1.5;
	padding: 14px 0;
	min-height: 56px;
	box-sizing: border-box;
	border-radius: 60px;
	border:none;
	text-align: center;
	margin: 40px 0;
	transition: all 0.3s ease;
}
.stores .stores_btn:hover { transform: scale(1.1); }
.stores .social_media { margin-bottom: 85px; }
.stores .social_media li {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px;
	width: 60px;
}
.stores .social_media li a:hover { opacity: .8; }

/*Product sale section*/
.productbox2 {
	background: transparent;
}
.psale_maintl {
    width: auto;
    text-align: center;
    overflow: hidden;
    margin: 0 0 60px 0;
}
.psale_maintl.active img {
    top: 0;
}
.psale_maintl img {
    width: 90%;
    max-width: 700px;
    transition: all 0.3s;
    top: 60px;
    display: inline-block;
    position: relative;
}
.psale_bnr {
	margin: 0 0 20px 0;
}
.psale_bnr img {
	max-width: 370px;
}
.productbox2 .innerbox .btnbox .inbox .p_comment_item {
	width: 100%;
}

.productbox2 .innerbox .btnbox .inbox .rightbox .capbox {
	text-align: left;
}
.productbox2 .innerbox .btnbox .inbox .rightbox .capbox img {
	width: auto;
	max-width: 100%;
	height: 90px;
}

@media screen and (max-width:768px){
	.productbox .innerbox .btnbox .inbox .ben_content.rightbox.box2 { margin-bottom: 0; }
	.benefit_sec2 { margin-bottom: 13px; }
	.btnbox3 .illbox2 span img { width: 300px; }
	.btnbox3 .media img { width: 47%; }
	.btnbox3 .media img:last-child { margin: 0 0 30px 2%; }
	.ben_content .tlbox { margin-bottom: 10px; }
	.ben_column {
		display: block;
		width: 100%;
		margin-bottom: 18px;
	}
	.ben_column.left { 
		width: 100%;
		font-size: 12px;
	}
	.ben_column.right {
		float: none; 
		width: 100%; 
	}
	.ben_column.right img { width: 172px; margin-top: 3px; }
	.ben_column small { font-size: 10px; }
	.ben_column .list { margin: 13px 0; }
	.ben_buttons { text-align: center; margin-bottom: 18px; }
	.ben_buttons .orange { float: none; }
	.ben_buttons .btncap { text-align: left; }

	/* Stores section */
	.stores .pcap { margin-bottom: 18px; }
	.stores .disclaimer { font-size: 10px; }
	.stores .disclaimer li { margin-bottom: 5px; }
	.stores .stores_btn { margin: 12px 0 20px; }
	.stores .social_media { margin-bottom: 70px; }
	.stores .social_media li { 
		width: 45px; 
		margin: 0 20px;
	}

	/*movie*/
	.movie_maintl img {
		max-width: 400px;
	}

	/*product sale*/
	.psale_maintl img {
		max-width: 400px;
	}
	.psale_bnr img {
		width: 60%;
    	max-width: 300px;
	}
	.productbox2 .innerbox .btnbox .inbox .rightbox .capbox img {
		height: 70px;
	}
	.productbox2 .innerbox .btnbox2 .inbox .leftbox .phbox span {
		width: 35%;
	}
}



/************************************** ADDITIONAL ************************************/

.productbox .innerbox .btnbox3 { margin-bottom: 44px; }
.productbox .innerbox .btnbox .inbox .rightbox .price02 { 
	font-size: 55px;
	font-weight: bold;
	color: #47B6BF;
	position: relative;
	width: auto;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;

}
.productbox .innerbox .btnbox .inbox .rightbox .price02 span { font-size: 16px; }
.productbox .innerbox .btnbox .inbox .rightbox .price02:before {
	content: "";
	background: url(../images/p_price_icon.svg) no-repeat center top;
	width: 53px;
	height: 41px;
	display: inline-block;
	margin-right: 9px;
}

.productbox .innerbox .pcap {
	font-size: 20px;
	font-weight: bold;
	display: block;
	position: relative;
	border-left: 3px solid #333333;
	border-right: 3px solid #333333;
	box-sizing: border-box;
	z-index: 1;
	line-height: 1.8;
}

.productbox .innerbox .pcap span {
	width: 100%;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
}

.productbox .innerbox .pcap:before {
	content: url(../images/icon-bracket.png);
	position: absolute;
	top: -15px;
	left: -4px;
	z-index: -1;
}

.productbox .innerbox .pcap:after {
	content: url(../images/icon-bracket.png);
	position: absolute;
	top: -15px;
	right: -4px;
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
	z-index: -1;
}

.productbox .innerbox .pcap span:before {
	content: url(../images/icon-bracket.png);
	position: absolute;
	bottom: -15px;
	left: -4px;
	-webkit-transform: rotate(-180deg) scaleX(-1);
	transform: rotate(-180deg) scaleX(-1);
	z-index: -1;
}

.productbox .innerbox .pcap span:after {
	content: url(../images/icon-bracket.png);
	position: absolute;
	bottom: -15px;
	right: -4px;
	-webkit-transform: rotate(180deg) scaleX(1);
	transform: rotate(180deg) scaleX(1);
	z-index: -1;
}

@media screen and (max-width:768px) {
	.productbox .innerbox .btnbox .inbox .rightbox .price02 {
		font-size: 32px;
	}
	.productbox .innerbox .btnbox .inbox .rightbox .price02 span { font-size: 8px; }
	.productbox .innerbox .btnbox .inbox .rightbox .price02:before {
		background-size: contain;
		width: 39px;
		margin: -4px 9px 0 0;
		vertical-align: top;
	}
	.productbox .innerbox .pcap { font-size: 12px; max-width: 400px; margin: 0 auto 18px; }
	.productbox .innerbox .pcap:before { top: -8px; }
	.productbox .innerbox .pcap:after { top: -8px; }
	.productbox .innerbox .pcap span:before { bottom: -8px; }
	.productbox .innerbox .pcap span:after { bottom: -8px; }
}